<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>{{'web store login' | translate | uppercase}}</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="{{'username' | translate | titlecase}}" formControlName="username" required>
        <mat-error>
          {{'Please provide a valid username' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="{{'password' | translate | titlecase}}" formControlName="password" required>
        <mat-error>
          {{'Please provide a valid password' | translate}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="w-100" color="primary">{{'login' | translate | titlecase}}</button>
    </form>
  </mat-card-content>
</mat-card>
