<h1 mat-dialog-title>{{"added products" | translate | titlecase}}</h1>
<div mat-dialog-content *ngFor="let product of products; let i = index">
  {{i+1}}. {{product.name}} - {{product.price | bgCurrency }}
</div>
<hr>
<div mat-dialog-content>{{"Total price" | translate}}: <strong>{{total | currency: ' '}} лв</strong></div>
<div mat-dialog-actions>
  <span *ngIf="total > 0"><button mat-button (click)="addOrder(products)">{{'pay' | translate}}</button></span>
  <span class="pl-2"><button mat-button mat-dialog-close>{{'close' | translate}}</button></span>
</div>
