<button class="mr-2" mat-raised-button matTooltip="add" (click)="addProduct()">
  <mat-icon>add_box</mat-icon>
</button>

<div class="mr-2" *ngFor="let product of products; let i = index">
  <div class="row pt-2">

    <div class="col-lg-5">

      <mat-card class="col-lg-12 pt-2">
        <div class="pb-2 text-right">
          <button class="mr-2" mat-mini-fab matTooltip="edit" (click)="editProduct(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab matTooltip="delete" (click)="deleteProduct(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div class="font-weight-bold">
          {{product.name | titlecase}}</div>
        <div>{{product.description}}</div>
        <div class="pt-2 text-center"><img class="rounded" src="{{product.image.url}}"></div>
        <div class="font-weight-bold">{{product.price}} лв</div>
        <div class="font-weight-light">{{product.status}}</div>
      </mat-card>
    </div>
  </div>
</div>
