<form class="example-form">
  <mat-form-field class="col-lg-4">
    <mat-label>{{'product' | translate}}</mat-label>
    <input type="text"
           placeholder="{{'choose one' | translate}}"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="selectedProduct($event)"
                      [displayWith]="getOptionText">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option.name}} - {{option.price | bgCurrency }}
      </mat-option>
    </mat-autocomplete>
    <button type="button" mat-button *ngIf="getOptionText(options)" matSuffix mat-icon-button aria-label="Clear" (click)="getOptionText(options)===''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="quantity-form-field">
    <mat-label>{{'quantity' | translate}}</mat-label>
    <input matInput type="text" [(ngModel)]="valueQuantity" [ngModelOptions]="{standalone: true}">
    <button mat-button *ngIf="valueQuantity" matSuffix mat-icon-button aria-label="Clear" (click)="valueQuantity=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</form>


<div class="row">
  <div class="col">
    <section>
      <div class="button-row">
        <div class="example-flex-container">
          <div class="button-container text-success">
            <button matTooltip="{{'add product' | translate}}" class="button-green-color" mat-fab color="white"
                    (click)="addProducts()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="button-container text-warning">
            <button matTooltip="{{'delete product' | translate}}" class="button-red-color" mat-fab color="white"
                    (click)="deleteProduct()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="button-container">
            <button matTooltip="{{'calculate' | translate}}" mat-fab color="white"
            (click)="calculate()">
              <mat-icon>calculate</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="mat-table col-lg-12">
  <div class="row border">
    <ng-container class="col">
      <span class="col-lg-1 text-center font-weight-bolder">№</span>
      <span class="col-lg-1 text-center font-weight-bolder">{{'code' | translate | titlecase}}</span>
      <span class="col-lg-5 text-left font-weight-bolder">{{'name' | translate | titlecase}}</span>
      <span class="col-lg-1 text-left font-weight-bolder">{{'quantity' | translate | titlecase}}</span>
      <span class="col-lg-4 text-left font-weight-bolder">{{'price' | translate | titlecase}}</span>
    </ng-container>
  </div>
  <div class="row border" *ngFor="let product of addedProducts; let i = index">
    <ng-container class="mat-table border col-lg-12">
      <mat-form-field class="col-lg-1">
        <input matInput type="text" class="text-center" value="{{i + 1}}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-lg-1">
        <input matInput type="text" class="text-center" value="{{product.id}}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-lg-5">
        <input matInput type="text" value="{{product.name}}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="col-lg-1">
        <mat-select class="text-center" [value]="selectedOptions[0]">
          <mat-option *ngFor="let quantity of selectedOptions" [value]="quantity">{{quantity}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-lg-1">
        <input matInput type="text" value="{{product.price | bgCurrency }}">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <!--<span class="col-lg-1 text-center">{{i + 1}}</span>
      <span class="col-lg-1 text-center">{{product.id}}</span>
      <span class="col-lg-5 text-left">{{product.name}}</span>
      <span class="col-lg-1 text-right">{{1}}</span>
      <span class="col-lg-4 text-left">{{product.price | bgCurrency }}</span>-->
    </ng-container>
  </div>
  <div class="row border pt-2">
    <ng-container class="col">
      <span class="col-lg-1 text-center font-weight-bolder"> </span>
      <span class="col-lg-1 text-center font-weight-bolder"> </span>
      <span class="col-lg-6 text-right font-weight-bolder">{{'total' | translate | titlecase}}:</span>
      <span class="col-lg-4 text-left text-success font-weight-bolder text-muted">{{totalPrice | currency: ' ' }} лв</span>
    </ng-container>
  </div>
</div>

<!--
<div>
  <div *ngFor="let product of listProducts">
    <div class="pl-2 pt-2">{{product.name}} status: {{product.status}} <br>
      <div><img class="rounded" src="{{product.image.url}}"></div>
      <span><strong>{{product.price | number}}</strong> BGN</span></div>
    </div>
</div>
-->

