section
  display: table

.button-row
  display: table-cell
  width: 390px

.button-row .mat-button-base
  margin: 8px 8px 8px 0

.example-flex-container
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.button-container
  display: flex
  justify-content: center
  width: 120px

.button-green-color
  color: green

.button-red-color
  color: red

table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

.quantity-form-field
  width: 80px
