<div class="p-2 mx-4 font-weight-bold">{{'orders' | translate | titlecase}}</div>
<hr>
<div *ngFor="let order of completedOrders; let i=index">
  <span class="p-2 text-muted">{{i + 1}}. {{order.name}} - {{order.price.toFixed(2) | bgCurrency}}</span><br><hr>
</div>
<br>
<div class="p-2 mx-4 font-weight-bold">{{'total' | translate | titlecase}}: {{totalOrdersPrice.toFixed(2) | bgCurrency}}</div>
