<div class="grid-container">
  <h1 class="mat-h1">{{'dashboard' | translate | titlecase}}</h1>
  <mat-grid-list class="col-lg-12 col-sm-6" cols="12" rowHeight="50px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      routerLink="{{tile.url}}"
      matTooltip="{{tile.text | translate}}">
      <div class="d-inline-flex">
        <mat-icon>{{tile.icon}}</mat-icon>
        <span>{{tile.text | translate | uppercase}}</span>
      </div>

    </mat-grid-tile>
  </mat-grid-list>

</div>
